.smtc-input-radio-button {
  > div {
    flex-wrap: wrap;
    margin: -4px !important;

    > div {
      color: var(--color) !important;
      border-color: #ced2d8 !important;
      margin: 4px !important;
  
      > div {
        align-items: center;
    
        > div {
    
          + div {
            position: relative;
            border-color: var(--primary) !important;
    
            > div {
              position: absolute;
              top: -2px;
              left: -2px;
              background: var(--primary) !important;
            }
          }
        }
      } 
    } 
  }
}